:root {}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #F8F9FA;
}

.global-container {
  display: grid;
  position: absolute;
  inset: 0;
  grid-template-columns: 125px 1fr;
}